@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Poppins", sans-serif;
}
input {
  accent-color: #7bbfc4;
}
body {
  margin: 0;
  background-color: white;
}
button {
  font-family: "Poppins", sans-serif;
  background-color: #7bbfc4;
  color: black;
  font-size: 24px;
  font-weight: 400;
  padding: 16px 56px;
  border-radius: 100px;
  border: none;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
button:disabled {
  background-color: #e6e6e6;
  color: white;
  cursor: not-allowed;
}
.react-calendar button {
  padding: 10px 8px;
  font-size: 16px;
}
button.hover-effect:hover {
  background-position: 100% 0;

  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(to right, #7bbfc4, white);
}
.text {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}
.small-text {
  font-size: 16px;
}
.heading-normal {
  font-size: 36px;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  button:not(.hover-effect) {
    padding: 10px;
  }
  button,
  .text {
    font-size: 18px;
  }
  .heading-normal {
    font-size: 26px;
  }
  .small-text {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  button,
  .text {
    font-size: 14px;
  }
  .heading-normal {
    font-size: 18px;
  }
  .small-text {
    font-size: 12px;
  }
}
.extra-margin {
  margin: 2% 0 2% 0;
}
.double-extra-margin {
  margin: 4% 0 4% 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
}
@media screen and (max-width: 1024px) {
  .container {
    align-content: center;
    align-items: center;
  }
}

.c-col {
  align-items: flex-start;
}
.c-row {
  flex-direction: row;
}
.five-margin-down {
  margin-bottom: 5%;
}
#vibiniCreates,
#twoLines,
#studioPhoto {
  width: 100%;
}
#orangeDonut {
  position: absolute;
  left: 0;
  top: 05%;
  width: 5%;
}
#checkoutButton{
  width: 80%;
  margin-top: 5%;
}
.no-padding {
  padding: 0;
}
.no-wrap-desktop {
  flex-wrap: nowrap;
}
@media screen and (max-width: 1024px) {
  .no-wrap-desktop{
    flex-wrap: wrap;
  }
  form button.hover-effect{
    width:100%;
    margin-top:3%;
}
}


/*Make appropriate step in side panel in color blue*/
.personal-info aside li:nth-of-type(1),
.select-plan aside li:nth-of-type(2),
.tnc aside li:nth-of-type(3),
.payment aside li:nth-of-type(4) {
  color: #7bbfc4;
}
a {
  text-decoration: none;
  color: white;
}
