.formDiv{
    width:65%;
    background-color:#f4f4f4;
}
.formDiv form *{
    display:block;
}
.formDiv input{
    border: none;
    padding: 20px 15px;
    width: 50%;
    margin-bottom: 2%;
}
.formDiv label{
    margin-bottom:15px;
}
.formDiv h2{
    margin-bottom:3%;
}
