<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Payment failed</title>
        <meta name="description" content="User is directed to this page when payment fails.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body style="text-align:center">
        <img
          src="../static/media/VibiniCreateslogo-black.png"
          alt="Vibini Creates"
          id="vibiniCreates" style="width:50%"
        ></img>
        <p class="text" style="font-family: 'Poppins';
        font-size: 1em;
        font-weight: 500;
        text-align: center;">
        Thank you, your payment was successful. Please check your e-mail for confirmation.         
        </p>
    </body>
</html>